In [39]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [3]:
dataset = pd.read_csv("/Users/shubhamyadav/Documents/D/Machine Learning/ML Algorithms/Datasets/Bank Customer Churn Prediction.csv")

In [5]:
dataset.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
dataset.drop(columns=["country","gender"], inplace=True)
dataset.head()

,customer_id,credit_score,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,43,2,125510.82,1,1,1,79084.10,0

In [9]:
dataset.isnull().sum()

customer_id         0
credit_score        0
age                 0
tenure              0
balance             0
products_number     0
credit_card         0
active_member       0
estimated_salary    0
churn               0
dtype: int64

In [15]:
input_data = dataset.iloc[:,:-1]
output_data = dataset['churn']

In [21]:
ss = StandardScaler()
input_data = pd.DataFrame(ss.fit_transform(input_data), columns=input_data.columns)

In [23]:
input_data

,customer_id,credit_score,age,tenure,balance,products_number,credit_card,active_member,estimated_salary
0,-0.783213,-0.326221,0.293517,-1.041760,-1.225848,-0.911583,0.646092,0.970243,0.021886
1,-0.606534,-0.440036,0.198164,-1.387538,0.117350,-0.911583,-1.547768,0.970243,0.216534
2,-0.995885,-1.536794,0.293517,1.032908,1.333053,2.527057,0.646092,-1.030670,0.240687
3,0.144767,0.501521,0.007457,-1.387538,-1.225848,0.807737,-1.547768,-1.030670,-0.108918
4,0.652659,2.063884,0.388871,-1.041760,0.785728,-0.911583,0.646092,0.970243,-0.365276
...,...,...,...,...,...,...,...,...,...
9995,-1.177652,1.246488,0.007457,-0.004426,-1.225848,0.807737,0.646092,-1.030670,-0.066419
9996,-1.682806,-1.391939,-0.373958,1.724464,-0.306379,-0.911583,0.646092,0.970243,0.027988
9997,-1.479282,0.604988,-0.278604,0.687130,-1.225848,-0.911583,-1.547768,0.970243,-1.008643
9998,-0.119356,1.256835,0.293517,-0.695982,-0.022608,0.807737,0.646092,-1.030670,-0.125231
9999,-0.870559,1.463771,-1.041433,-0.350204,0.859965,-0.911583,0.646092,-1.030670,-1.076370

In [41]:
x_train, x_test, y_train, y_test = train_test_split(input_data,output_data, random_state=42, test_size=0.2)

In [47]:
x_train.shape

(8000, 9)

In [35]:
input_data.shape

(10000, 9)

In [26]:
import tensorflow

In [133]:
from keras.layers import Dense, BatchNormalization, Dropout
from keras.models import Sequential
from keras.callbacks import EarlyStopping
from keras.regularizers import l2

In [97]:
ann = Sequential()

In [149]:
ann.add(Dense(7, input_dim = 9, activation = "relu",kernel_regularizer=l2(l2=0.01)))
ann.add(BatchNormalization())
ann.add(Dense(5, activation = "relu"))
ann.add(BatchNormalization())
ann.add(Dense(3, activation = "relu"))
ann.add(Dropout(0.3))
ann.add(BatchNormalization())
ann.add(Dense(1, activation = "sigmoid"))

/opt/anaconda3/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [151]:
ann.compile(optimizer='adam', loss="binary_crossentropy", metrics = ["accuracy"])

In [153]:
ann.fit(x_train, y_train, batch_size = 100, epochs=10,validation_data=(x_test,y_test), callbacks = EarlyStopping())

Epoch 1/10
80/80 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.4538 - loss: 0.7208 - val_accuracy: 0.8035 - val_loss: 0.7073
Epoch 2/10
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6121 - loss: 0.6855 - val_accuracy: 0.8035 - val_loss: 0.6744
Epoch 3/10
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6431 - loss: 0.6556 - val_accuracy: 0.8035 - val_loss: 0.6333
Epoch 4/10
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7609 - loss: 0.6256 - val_accuracy: 0.8035 - val_loss: 0.5986
Epoch 5/10
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7904 - loss: 0.5933 - val_accuracy: 0.8035 - val_loss: 0.5398
Epoch 6/10
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7980 - loss: 0.5626 - val_accuracy: 0.8035 - val_loss: 0.5153
Epoch 7/10
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7882 - loss: 0.5543 - val_accuracy: 0.8035 - val_loss: 0.5391

In [154]:
prd = ann.predict(x_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [155]:
prd_data = []
for i in prd:
    if i[0]>0.5:
        prd_data.append(1)
    else:
        prd_data.append(0)

In [156]:
from sklearn.metrics import accuracy_score

In [157]:
accuracy_score(y_test,prd_data)

0.8035

In [158]:
ann.history.history

{}